[project]
	description = Learn GitHub
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/santoshkashyap
[access "refs/for/refs/*"]
	read = group user/santoshkashyap
	push = group user/santoshkashyap
	label-Code-Review = -2..+2 group user/santoshkashyap
	label-Verified = -1..+1 group user/santoshkashyap
	rebase = group user/santoshkashyap
	removeReviewer = group user/santoshkashyap
	submit = group user/santoshkashyap
[access "refs/heads/*"]
	read = group user/santoshkashyap
	create = group user/santoshkashyap
	push = +force group user/santoshkashyap
	pushMerge = group user/santoshkashyap
[access "refs/tags/*"]
	push = +force group user/santoshkashyap
	pushTag = group user/santoshkashyap
	pushSignedTag = group user/santoshkashyap
